[Unit]
Description=Run ShopHosting Marketing Queue Processor every 15 minutes

[Timer]
OnBootSec=5min
OnUnitActiveSec=15min
AccuracySec=1min

[Install]
WantedBy=timers.target
